body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
  text-align: center;
  color: antiquewhite;
}
.center {
  text-align: center;
}
.bg-header{
 background-color: #112031;
 color: white;
}